@import "utils/variables";
@import "utils/extensions";
@import "components/globals";
@import "components/header";
@import "components/logo";
@import "components/portfolio";
@import "components/footer";
@import "components/icons_social";
@import "components/hero";
@import "components/lorem";
@import "components/ourwork";
@import "components/team";
@import "components/client";
@import "components/modal";
@import "components/mobile_menu";
