.footer {
  background-color: $backgroundDarkSection;
  &__wrapper {
    padding: 60px 15px;
    text-align: center;
  }

  &__address {
    display: block;
    color: $white;
    line-height: 1.71;
    text-decoration: none;
    margin-top: 20px;
    font-style: normal;

    &-contact {
      line-height: 1.71;
      display: block;
      color: $fontLightColor;
      text-decoration: none;
      margin-top: 8px;
      transition: color $transitionValue;

      &:hover,
      :focus {
        color: $elementBlueColor;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

.joinus {
  &__heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $white;
  }
  &__social-icon {
    justify-content: center;
    fill: $white;
    background-color: $iconFooterBackground;
  }
}

.newsletter {
  &__wrapper {
    gap: 12px;
  }

  &__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding-bottom: 20px;
    color: $white;
  }
  &__item {
    width: 100%;
    height: 50px;
    color: $white;
    border: 1px solid $borderTransparent;
    border-radius: 4px;
    background-color: $backgroundDarkSection;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;

    &::placeholder {
      font-size: 16px;
      letter-spacing: 0.03em;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    padding: 10px 28px 10px 42px;
    color: $white;
    background-color: $elementBlueColor;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
  }

  &__icon {
    margin-left: 24px;
    fill: $white;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .footer {
    &__wrapper {
      padding: 60px;
    }
  }
  .footer__subcontainer {
    display: flex;
    justify-content: space-between;

    .joinus {
      padding: 5px 13px;
    }
  }
  .newsletter {
    padding-top: 60px;
    padding-bottom: 0;

    .newsletter__item {
      width: 450px;
    }
  }
}

@media (max-width: 1200px), (min-width: 768px) {
  .footer__subcontainer {
    padding: 0 61px;
  }

  .newsletter {
    .newsletter__item {
      margin: 0 auto 20px;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__wrapper {
      padding-left: 0;
      display: flex;
      text-align: left;
    }
    &__address {
      margin-bottom: 0;
    }

    .joinus {
      padding: 12px 78px 0 70px;
    }

    .newsletter {
      padding-top: 12px;

      &__label {
        text-align: left;
      }

      &__wrapper {
        display: flex;
        gap: 12px;
      }

      &__item {
        margin-bottom: 0;
        width: 358px;
      }
      &__button {
        padding: 10px 24px 10px 42px;
        width: 200px;
        height: 50px;
      }
    }
  }
}
