.header {
  padding: 16px 15px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  border-bottom: 1px solid $borderNavigationLine;

  &-list {
    display: none;
  }

  &-contact {
    display: none;

    &__item {
      text-emphasis: none;
      text-decoration: none;
      color: $fontLightColor;
      transition: color $transitionValue;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: 21px 0;
  }

  .mobile-menu {
    &__toggle {
      display: none;
    }
  }

  .navigation {
    &-list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;

      &__item {
        position: relative;
        font-weight: 500;
        line-height: 1.17;
        text-decoration: none;
        color: $fontBlackColor;
        transition: color $transitionValue;

        &:hover,
        &:focus {
          .navigation-contact__icon {
            fill: $elementBlueColor;
          }
          color: $elementBlueColor;
        }
        &--active {
          color: $elementBlueColor;

          &::after {
            content: " ";
            position: absolute;
            left: 0px;
            bottom: -32px;
            width: 100%;
            height: 4px;
            pointer-events: none;
            border-radius: 2px;
            background-color: $elementBlueColor;
          }
        }
      }
    }
  }
  
}

/*
.navigation {
  border-bottom: 1px solid $borderNavigationLine;

  &__wrapper {
    @extend %flex-container-secondary;
  }

  &-list {
    @extend %flex-container;
    gap: 46px;
    list-style: none;
    margin-left: 93px;
    &__item {
      position: relative;
      font-weight: 500;
      line-height: 1.17;
      text-decoration: none;
      color: $fontBlackColor;
      transition: color $transitionValue;

      &:hover,
      &:focus {
        .navigation-contact__icon {
          fill: $elementBlueColor;
        }
        color: $elementBlueColor;
      }
      &--active {
        color: $elementBlueColor;

        &::after {
          content: " ";
          position: absolute;
          left: 0px;
          bottom: -32px;
          width: 100%;
          height: 4px;
          pointer-events: none;
          border-radius: 2px;
          background-color: $elementBlueColor;
        }
      }
    }
  }

  &-contact {
    @extend %flex-container-secondary;
    gap: 50px;

    &__item {
      text-emphasis: none;
      text-decoration: none;
      color: $fontLightColor;
      transition: color $transitionValue;
    }

    &__icon {
      vertical-align: middle;
      margin-right: 10px;
      fill: $fontLightColor;
      transition: fill $transitionValue;
      &--align {
        vertical-align: text-top;
      }
    }
  }
}

.navigation-flex-container {
  @extend %flex-container;
  padding-top: 24px;
  padding-bottom: 25px;
}
*/
