.header {
  padding: 10px 0;
  border-bottom: 1px solid $borderNavigationLine;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__desktop-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    &__toggle {
      display: none;
    }
  }

  .header {
    padding: 21px 0;

    &__desktop-menu {
      display: flex;
    }

    .link {
      transition: color $transitionValue;
    }

    .link:hover,
    .link:focus {
      color: $elementBlueColor;
      fill: $elementBlueColor;
    }
  }
  .nav {
    &__list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;
    }

    &__item {
      font-weight: 500;
      letter-spacing: 0.02em;
    }

    &__link {
      color: $fontBlackColor;
      position: relative;

      &--active {
        color: $elementBlueColor;

        &::after {
          content: "";
          position: absolute;
          bottom: -33px;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          background-color: $elementBlueColor;
          pointer-events: none;
        }
      }
    }
  }

  .contacts {
    &__item {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: $fontLightColor;
      fill: $fontLightColor;
    }

    &__link {
      color: $fontLightColor;
      display: flex;
      align-items: center;
    }

    &__icon {
      margin-right: 8px;

      &--mail {
        color: $fontLightColor;
        width: 14px;
        height: 10px;
      }

      &--phone {
        color: $fontLightColor;
        height: 14px;
      }
    }
  }
}

@media (1200px > width > 768px) {
  .contacts {
    margin-left: 101px;

    &__item:first-child {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 25px 0;

    &__content {
      justify-content: initial;
    }

    &__desktop-menu {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  }
  .nav__list {
    gap: 46px;
  }

  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    &__item {
      font-size: 14px;
    }

    &__icon {
      margin-right: 10px;

      &--mail {
        width: 16px;
        height: 12px;
      }

      &--phone {
        height: 16px;
      }
    }
  }
}
