.logo {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 24px;
  line-height: 1.19;
  color: $elementBlueColor;
  font-weight: 700;
  border-radius: $borderRadius;

  &__name {
    color: $fontBlackColor;
  }
  &__name-footer {
    color: $white;
  }
}

@media (width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
  }
}
