.menu {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  background-color: $white;
  transform: translateX(100%);
  transition: all $transitionValue;
  &__btn {
    align-items: flex-end;
    fill: currentColor;
  }

  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--logo);
    :hover {
      color: $elementBlueColor;
    }
  }

  & &__toggle {
    position: absolute;
    top: 1.375rem;
    right: 1.5rem;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__link {
    color: $fontBlackColor;
    letter-spacing: 0.02em;
    font-size: 2.5rem;
    line-height: 1.175;
    &:hover,
    &:focus {
      color: $elementBlueColor;
    }
    &--active {
      color: $elementBlueColor;
      font-size: 2rem;
      max-width: 100vw;
    }
  }

  &__social {
    * {
      border-right: 1px solid $borderRadius;
      margin-right: 0.625rem;
      display: inline-block;
    }
    &-link {
      color: $elementBlueColor;
      letter-spacing: 0.02em;
      font-size: 18px;
      line-height: 1.22;
      :last-child {
        border: none;
        margin: none;
        padding: none;
      }
    }
  }

  &__email {
    font-size: 1.5rem;
    color: $fontLightColor;
    letter-spacing: 0.02em;
    line-height: 1.16;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &.is-open {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
