.team {
  background-color: $backgroundLightSection;
  

  &__header {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }
}

.team__member {
  background: $white;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 30px;
  border-radius: $borderRadius;

  &-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-description {
    padding-top: 30px;
    text-align: center;
  }

  &-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
  }
  &-job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $fontLightColor;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .team__icons-list {
    padding: 16px 0 24px;
    justify-content: center;

    &-item {
      fill: $iconsInactive;
      &:hover,
      &:focus {
        fill: $white;
      }
    }
  }
}

/*
.team {
  background-color: $backgroundLightSection;
  &__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @extend %flex-container-secondary;
    gap: 30px;
  }
}

.team__member {
  display: inline-block;
  justify-content: center;
  background: $white;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;

  &-description {
    padding: 30px 0px;
    text-align: center;
  }

  &-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
    padding-left: 99px;
    padding-right: 99px;
  }
  &-job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $fontLightColor;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
}

.team__icons-list {
  margin-top: 16px;
  padding: 0 32px;

  &-item{
    fill: $iconsInactive;
  }
}

*/
