%flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-container-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
}

%menu-btn {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: $transitionValue;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $elementBlueColor;
  }
}
