$fontBlackColor: #212121;
$fontLightColor: #757575;
$elementBlueColor: #2196f3;
$white: #fff;
$fontTransparentWhite: #ffffff99;
$backgroundDarkSection: #2f303a;
$backgroundLightSection: #f5f4fa;
$backgroundTransparent: #2f303a66;
$ourWorkBackground: #2f303acc;
$overlayBackgroundTransparent: #2196f3e5;
$iconsInactive: #afb1b8;
$modalBorderColor: #21212133;
$borderTransparent: #ffffff4d;
$lineBorderColor: #eeeeee;
$iconFooterBackground: #ffffff1a;
$borderNavigationLine: #ececec;
$backgroundModal: #00000033;
$buttonModalBorder: #0000001a;
$placeholderColor: #75757580;

//other
$boxShadowCommon: 0px 4px 4px 0px #00000026;
$borderRadius: 4px;
$transitionValue: 250ms cubic-bezier(0.4, 0, 0.2, 1);
